body {
    margin: 0;
    padding: 0;
    background-color: lightgrey;
    text-align: center;
}

header {
    background-color: #2a81e2;
    text-align: center;
    color: white;
}

h1 {
    margin: 0;
    padding-top: 15px;
}

header p {
    font-size: 1.25em;
}

nav a {
    padding: 20px;
    color: white;
    display: block;
    text-decoration: none;
    font-size: 1.25em;
    border-top: 1px solid white;
}

nav a:hover {
    text-decoration: none;
    color: #616061;
}

.hide {
    display: none;
}

.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
}

.images {
    display: grid;
    grid-template-columns: 1fr;
}

figure img {
    border: solid white 3px;
    box-shadow: 4px 4px 10px black;
    justify-self: center;
    margin: 0 auto;
    object-fit: cover;
    display:block;
}

dialog img {
    width: 90%;
    display: block;
    margin: 20vh auto;
}

dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .75);
}
.close-viewer {
    position: absolute;
    top: 10vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
    color: black;
    background-color: white;
}

footer {
    background-color: #2a81e2;
    padding: 10px;
    text-align: center;
}

@media screen and (min-width: 850px) {
    .images {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1450px) {
    .images {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .menu-btn {
        display: none;
    }

    .hide {
        display: block;
    }

    nav {
        padding-top: 2em;
        padding-bottom: 2em;
    }

    nav a {
        display: inline;
        border: none;
    }
}