#creditCards {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    width: 75%;
    max-width: 600px;
    margin: auto;
    max-height: 300px;
    margin-top: 100px;
}

#ccfront {
    grid-column: 1/3;
    grid-row: 1/3;
    background-color: lightgrey;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5px;
    box-shadow: 5px 5px 5px gray;
    position: relative;
    z-index: 2;
}

#cardHolder {
    grid-column: 1/2;
    grid-row: 3/4;
}

#cardExpiration {
    grid-row: 3/4;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 50px 50px;
    padding-left: 45%;
}

#cardExpiration input {
    margin: 2px;
}

#cardExpiration label {
    grid-column: 1/3;
}

#icon {
    text-align: right;
}

#ccback {
    background-color: lightgrey;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 5px;
    box-shadow: 5px 5px 5px gray;
    grid-column: 2/4;
    grid-row: 2/4;
    position: relative;
    z-index: 1;
}

#black_bar {
    max-height: 20px;
    background-color: black;
    border: 20px solid black;
    grid-column: 1/3;
}

#CVV {
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: right;
}

#CVV input {
    max-width: 60px;
    
}

#submit {
    grid-column: 3/4;
    grid-row: 4/5;
    margin: 5px;
}