.mission {
    font-family:'Times New Roman', Times, serif;
    max-width: 80%;
    margin: auto;
    border: 2px solid black;
}

h1 {
    font-size: 4em;
    text-align: center;
}

h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1px;
    color: #1482cf;
}

hr {
    margin-top: 4px;
    background-color: gold;
    height: 1px;
    margin-left: 50px;
    margin-right: 50px;
}

p {
    font-size: 24px;
    margin: 50px;
}

#list li {
    font-size: 18px;
    list-style: decimal;
    padding-top: 1.5em;
    margin-left: 50px;
    margin-right: 50px;
}

img {
    max-width: 20%;
    display: block;
    margin: 50px auto;
}